.bg-negro {
    background-color: #333;
  }
  #contenedorNavbar {
    height: 80px;
  }
  #btn-cart{
    height: 30px;
  }
  #text-warning{
    color: #fee43c !important;
  }
  .bg-amarillo{ 
    background-color: #fee43c;
  }
  
 @media(max-width: 767px ) {
   #desktop{
    display: none;
   }
    #mobile{
      display: flex;
    }
    
     
  }
  @media(min-width: 768px) { 
    #mobile{
      display: none;
    }
    #desktop{
      display: flex;
    }
    
   }
   
   