.bg-negro {
    background-color: #333;
  }
  #contenedorNavbar {
    margin-top: -20px!important;
    padding-bottom: 35px;
    z-index: 1500;
  }
  #contenedorNavbarSticky{
    height: 80px;
    position: fixed;
    top: -50px;
    z-index: 1400;
  }
  #btn-cart{
    height: 30px;
  }
  #text-warning{
    color: #fee43c !important;
  }
  .bg-amarillo{ 
    background-color: #fee43c;
  }
  
 @media(max-width: 767px ) {
   #desktop{
    display: none;
   }
    #mobile{
      display: flex;
    }
    
     
  }
  @media(min-width: 768px) { 
    #mobile{
      display: none;
    }
    #desktop{
      display: flex;
      background-color: #fff;

    }
    
   }
